/*tudo padronizado em uma font*/
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/*menu da nav bar*/
.menu {
    justify-content: space-between;
    display: flex;
    padding: 20px;
    height: 70px;
    
    


}

/*itens da nav bar*/
/*cultivo para viver*/
.item1 :hover {
    text-transform: lowercase;
    font-style: italic;
    
    
}

/*tutorial*/
.item2 :hover {

    font-style: italic;
    text-transform: lowercase;
}

/*tempo*/
.item3 :hover {

    font-style: italic;
    text-transform: lowercase;
}

/*cadastro*/
.item4 :hover {

    font-style: italic;
    text-transform: lowercase;
}

/*quem sou*/
.item5 :hover {
    font-style: italic;
    text-transform: lowercase;
}

/*Corpo do site*/
.body {
    display: flexbox;
    background-image: url("pexels-pineapple-supply-co-192312.jpg");
    margin: 0;
    padding: 0;
    background-size: contain;


}

/*tbem vindo home*/
.Bem_vindo {
    display: flex;
    justify-content: center;
    font-style: normal;
}

/*texto apresentação home*/
.apresentação {
    display: flex;
    justify-content: center;
    font-style: italic;
}

/*texto importancia do cultivo*/
.Bem_vindo2 {
    display: flex;
    justify-content: center;
    font-style: normal;
    margin-top: 5%;
}


/*textos titulos crecentes animações */
.Bem_vindo :hover {
    text-transform: uppercase;
}

/*cards de plantas em exemplo serao 3 no inicio da pagina(hortela-malva-capim)  */
.exemplos_plantas {
    display: flex;
    justify-content: center;
    font-style: normal;
}

/*bloco plantas 3 exemplos*/
.container1 {
    display: flex;
    justify-content: center;
}


/*card1  */

.bloco1 {
    display: flexbox;
    width: 300px;
    height: 500px;
    display: flexbox;
    margin: 25px;
}

/*card1  */
.bloco1:hover {
    width: 310px;
    height: 110px;
    transition: 0.6s;
}

/*card1  */
.bloco1:hover .caixa_1 {
    width: 310px;
    height: 300px;
}

/*card1  */
.caixa_1 {
    width: 300px;
    height: 200px;
    background-image: url(hortela-4-1.webp);
    background-size: cover;
    border-radius: 10%;
}


/*card2  */
.bloco2 {
    display: flexbox;
    width: 300px;
    height: 500px;
    display: flexbox;
    margin: 25px;


}

/*card2  */

.caixa_2 {
    width: 300px;
    height: 200px;
    background-image: url(malvadoreino.jpg);
    background-size: cover;
    border-radius: 10%;
}

/*card2  */

.bloco2:hover {
    width: 310px;
    height: 510px;
    transition: 0.6s;
}

/*card2  */

.bloco2:hover .caixa_2 {
    width: 310px;
    height: 300px;
}

/*card3  */

.bloco3 {
    display: flexbox;
    width: 300px;
    height: 500px;
    display: flexbox;
    margin: 25px;


}

/*card3  */

.caixa_3 {
    width: 300px;
    height: 200px;
    background-image: url(capim-limao.jpeg);
    background-size: cover;
    border-radius: 10%;
}

/*card3  */

.bloco3:hover {
    width: 310px;
    height: 510px;
    transition: 0.6s;
}

/*card3  */

.bloco3:hover .caixa_3 {
    width: 310px;
    height: 300px;
}

/*----------------------------------imagens pessoas doentes e melhorando -------------------------------------------------------------------*/
/*texto importancia*/
.texto_importancia {
    display: flex;
    justify-content: center;
}

/*texto importancia do cultivo animação*/
.Bem_vindo2 :hover {
    text-transform: uppercase;

}

/*bloco cards pessoas doentes*/

.container2 {
    display: flex;
    justify-content: center;
    margin: 20px;
}


/* card pessoas doentes1*/
.caixa_texto1 {
    background-image: url("importancia1.png");
    width: 600px;
    height: 550px;
    border-radius: 50px;
    display: flexbox;
    margin: 25px;
}




/* card pessoas doentes2*/


/* card pessoas doentes3*/
.caixa_texto3 {
    background-image: url("importancia2.png");
    width: 600px;
    height: 550px;
    border-radius: 50px;
    background-size: cover;
    display: flexbox;
    margin: 25px;
}

/*----------------------------------plantas faceis de ter em casa -------------------------------------------------------------------*/

/* bloco plantas faceis de ter em casa*/
.containerfacil {
    display: flex;
    justify-content: space-evenly;

}

/* card gengibre*/
.blocofacil1 {
    background-image: url(casa1.jpg);
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-size: cover;
}

.blocofacil1:hover {
    width: 300px;
    height: 250px;
    transition: 0.6s;
}

/* card gengibre*/
.caixa_facil1 {
    width: 450px;
    border-radius: 10%;
}

/* card gengibre*/
.texto_facil1 {
    display: flex;
    margin-top: 55%;
}


/* card boldo*/
.blocofacil2 {
    background-image: url(casa2.jpg);
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-size: cover;
}

.blocofacil2:hover {
    width: 300px;
    height: 250px;
    transition: 0.6s;
}

/* card boldo*/
.caixa_facil2 {

    width: 450px;
    border-radius: 10%;
}

/* card boldo*/
.texto_facil2 {
    display: flex;
    margin-top: 55%;
}

/* card babosa*/
.blocofacil3 {
    background-image: url(casa3.jpg);
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-size: cover;
}

.blocofacil3:hover {
    width: 300px;
    height: 250px;
    transition: 0.6s;
}

/* card babosa*/
.caixa_facil3 {

    width: 450px;
    border-radius: 10%;
}

/* card babosa*/
.texto_facil3 {
    display: flex;
    margin-top: 55%;
}

/* card ervadoce*/
.blocofacil4 {
    background-image: url(mamao.jpg);
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-size: cover;
}

.blocofacil4:hover {
    width: 300px;
    height: 250px;
    transition: 0.6s;
}

/* card ervadoce*/
.caixa_facil4 {
    width: 450px;
    border-radius: 10%;
}

/* card ervadoce*/
.texto_facil4 {
    display: flex;
    margin-top: 55%;
}

/* card camomila*/
.blocofacil5 {
    background-image: url(boldocasa.jpg);
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-size: cover;

}

.blocofacil5:hover {
    width: 300px;
    height: 250px;
    transition: 0.6s;
}

/* card camomila*/
.caixa_facil5 {
    width: 450px;
    border-radius: 10%;

}

/* card camomila*/
.texto_facil5 {
    display: flex;
    margin-top: 55%;

}

/* ---------------------------------------------segunda camada de facil--------------------------------------------------------------*/
/* segunda camada de facil*/
.containerfacil2 {
    display: flex;
    justify-content: space-evenly;

}

/* card camomila*/
.blocofacil6 {
    background-image: url(banana.jpg);
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-size: cover;

}

.blocofacil6:hover {
    width: 300px;
    height: 250px;
    transition: 0.6s;
}

/* card camomila*/
.caixa_facil6 {
    width: 450px;
    border-radius: 10%;
}

/* card camomila*/
.texto_facil6 {
    display: flex;
    margin-top: 55%;

}

.blocofacil7 {
    background-image: url(chuchu.jpg);
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-size: 100%;

}

.blocofacil7:hover {
    width: 300px;
    height: 250px;
    transition: 0.6s;
}

/* card camomila*/
.caixa_facil7 {
    width: 450px;
    border-radius: 10%;
}

/* card camomila*/
.texto_facil7 {
    display: flex;
    margin-top: 55%;

}

.blocofacil8 {
    background-image: url(milho.jpg);
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-size: cover;

}

.blocofacil8:hover {
    width: 300px;
    height: 250px;
    transition: 0.6s;
}

/* card camomila*/
.caixa_facil8 {
    width: 450px;
    border-radius: 10%;
}

/* card camomila*/
.texto_facil8 {
    display: flex;
    margin-top: 55%;

}



.blocofacil9 {
    background-image: url(fava.jpg);
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-size: cover;

}

.blocofacil9:hover {
    width: 300px;
    height: 250px;
    transition: 0.6s;
}


/* card camomila*/
.caixa_facil9 {
    width: 450px;
    border-radius: 10%;
}

/* card camomila*/
.texto_facil9 {
    display: flex;
    margin-top: 55%;

}

.blocofacil10 {
    background-image: url(capim-limao.jpeg);
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-size: cover;


}

/* card camomila*/
.caixa_facil10 {
    width: 450px;
    border-radius: 10%;

}

/* card camomila*/
.texto_facil10 {
    display: flex;
    margin-top: 55%;


}

.blocofacil10:hover {
    width: 300px;
    height: 250px;
    transition: 0.6s;

}

/*------------------------------------------------rodapé --------------------------------------------------------*/

.rodape1 {
    margin-top: 20%;
    display: flex;
    background-image: url(pexels-pineapple-supply-co-192312.jpg);
    background-size: contain;
    border-radius: 2%;
    border-color: rgb(0, 0, 0);
    border-style: ridge;
    list-style: none;
}

#rodape1 {
    display: flex;
    justify-content: space-evenly;
}

.item1roda :hover {
    text-transform: lowercase;
    font-style: italic;
}

.item2roda :hover {
    text-transform: lowercase;
    font-style: italic;
}

.item3roda :hover {
    text-transform: lowercase;
    font-style: italic;
}

.item4roda :hover {
    text-transform: lowercase;
    font-style: italic;
}

.item5roda :hover {
    text-transform: lowercase;
    font-style: italic;
}

/*------------------------------------------------rodapé --------------------------------------------------------*/




/*------------------------------------------------PAGINA TUTORIAL --------------------------------------------------------*/
.bodytutorial {
    background-image: url(pexels-pineapple-supply-co-192318.jpg);
    background-size: contain;
    display: flexbox;

}

.gif1 {
    justify-content: center;
    display: flex;


}

/*------------------------------------------------abobora --------------------------------------------------------*/

.aboborabloco {
    background-image: url(pexels-mathias-reding-10057784.jpg);
    background-size: contain;
}

.tutorial_abobora {
    display: flex;
    justify-content: center;
}

.div_abobora-tutorial {
    display: flex;
    justify-content: center;
}

.texto_abobora {
    display: flex;
    justify-content: center;
}

/*------------------------------------------------feijao --------------------------------------------------------*/


.feijaobloco {
    background-image: url(pexels-karolina-grabowska-4963963.jpg);
    background-size: cover;


}

.tutorial_feijao {
    display: flex;
    justify-content: center;
}

.div_feijao-tutorial {
    display: flex;
    justify-content: center;
}

.passo_feijao {
    display: flex;
    justify-content: center;

}

/*------------------------------------------------pimentao --------------------------------------------------------*/


.pimentaobloco {
    background-image: url(pexels-jonathan-borba-15876326.jpg);
    background-size: cover;


}

.tutorial_pimentao {
    display: flex;
    justify-content: center;
}

.div_pimentao-tutorial {
    display: flex;
    justify-content: center;
}

.passo_pimentao {
    display: flex;
    justify-content: center;

}

/*------------------------------------------------mamao --------------------------------------------------------*/

.mamaobloco {
    background-image: url(pexels-jess-loiterton-4327695.jpg);
    background-size: contain;


}

.tutorial_mamao {
    display: flex;
    justify-content: center;
}

.div_mamao-tutorial {
    display: flex;
    justify-content: center;
}

.passo_mamao {
    display: flex;
    justify-content: center;

}

/*------------------------------------------------boldo --------------------------------------------------------*/

.boldobloco {
    background-image: url(boldoa.jpg);
    background-size: cover;


}

.tutorial_boldo {
    display: flex;
    justify-content: center;
}

.div_boldo-tutorial {
    display: flex;
    justify-content: center;
}

.passo_boldo {
    display: flex;
    justify-content: center;

}

/*------------------------------------------------banana --------------------------------------------------------*/


.bananabloco {
    background-image: url(pexels-eva-bronzini-6148784.jpg);
    background-size: cover;


}

.tutorial_banana {
    display: flex;
    justify-content: center;
}

.div_banana-tutorial {
    display: flex;
    justify-content: center;
}

.passo_banana {
    display: flex;
    justify-content: center;

}

/*------------------------------------------------chuchu --------------------------------------------------------*/



.chuchubloco {
    background-image: url(chuchu.jpeg);
    background-size: cover;


}

.tutorial_chuchu {
    display: flex;
    justify-content: center;
}

.div_chuchu-tutorial {
    display: flex;
    justify-content: center;
}

.passo_chuchu {
    display: flex;
    justify-content: center;

}

/*------------------------------------------------milho --------------------------------------------------------*/


.milhobloco {
    background-image: url(pexels-marta-dzedyshko-3302501.jpg);
    background-size: contain;


}

.tutorial_milho {
    display: flex;
    justify-content: center;
}

.div_milho-tutorial {
    display: flex;
    justify-content: center;
}

.passo_milho {
    display: flex;
    justify-content: center;

}

/*------------------------------------------------fava --------------------------------------------------------*/

.favabloco {
    background-image: url(pexels-eiliv-aceron-6895914.jpg);
    background-size: cover;


}

.tutorial_fava {
    display: flex;
    justify-content: center;
}

.div_fava-tutorial {
    display: flex;
    justify-content: center;
}

.passo_fava {
    display: flex;
    justify-content: center;

}

/*------------------------------------------------capim --------------------------------------------------------*/

.capimbloco {
    background-image: url(Capim-limao-alivio-de-sintomas-de-gripes-e-problemas-estomacais.jpg);
    background-size: cover;


}

.tutorial_capim {
    display: flex;
    justify-content: center;
}

.div_capim-tutorial {
    display: flex;
    justify-content: center;
}

.passo_capim {
    display: flex;
    justify-content: center;

}

/*------------------------------------------------rodape tutorial --------------------------------------------------------*/

.rodape3 {

    display: flex;
    background-image: url(pexels-pineapple-supply-co-192312.jpg);
    background-size: contain;
    border-radius: 2%;
    border-color: rgb(0, 0, 0);
    border-style: ridge;
    justify-content: space-evenly;
    list-style: none;
}

.item1roda :hover {
    text-transform: lowercase;
    font-style: italic;
}

.item2roda :hover {
    text-transform: lowercase;
    font-style: italic;
}

.item3roda :hover {
    text-transform: lowercase;
    font-style: italic;
}

.item4roda :hover {
    text-transform: lowercase;
    font-style: italic;
}

.item5roda :hover {
    text-transform: lowercase;
    font-style: italic;
}




.tutorial {
    display: flex;
    justify-content: center;
    font-style: normal;
}

.apresentação_tutorial {
    display: flex;
    justify-content: center;
    font-style: normal;
}

.plantas_comida_imagem {
    display: flex;
    justify-content: center;

}


/*------------------------------------------------rodape home --------------------------------------------------------*/


.rodape {
    justify-content: space-around;
    display: flex;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCGhs1Ufvje8UGoZQjqMkyveOCg1WKAMaxjScvZDARXlsV6RCkcgFJrR2I9GIy8Tbte_g&usqp=CAU");
    list-style: none;
    padding: 50px;
    height: 90px;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    list-style: none;

}

.roda1 {
    display: flex;
    list-style: none;
    font-style: normal;

}

.roda2 {
    display: flex;
    list-style: none;
    font-style: normal;
}

.roda3 {
    display: flex;
    list-style: none;
    font-style: normal;
}

.roda4 {
    display: flex;
    list-style: none;
    font-style: normal;
}


/*------------------------------------------------quem sou --------------------------------------------------------*/



.quem_sou {
    display: flex;
    justify-content: center;
    font-style: italic;
}

.quem_sou_nav {
    justify-content: space-around;
    display: flex;
    list-style: none;
    padding: 20px;
    height: 60px;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    list-style: none;
}

.body_quem_sou {
    background-image: url("pexels-pineapple-supply-co-192312.jpg");
    display: flexbox;
    background-size: contain;


}


.Apresentação {
    display: flex;
    justify-content: center;
    font-style: normal;
}


.foto1 {
    display: flex;
    justify-content: center;


}

.casa {
    display: flex;
    justify-content: space-evenly;
}



.casa_1 {
    background-image: url("casa1.jpg");
    width: 350px;
    height: 450px;
    background-size: cover;
    border-radius: 20px;
}

.casa_2 {
    background-image: url("casa2.jpg");
    width: 350px;
    height: 450px;
    background-size: cover;
    border-radius: 20px;
}

.casa_3 {
    background-image: url("mamao.jpg");
    width: 350px;
    height: 450px;
    background-size: cover;
    justify-content: end;
    border-radius: 20px;
}

.casa_4 {
    background-image: url("boldocasa.jpg");
    width: 350px;
    height: 450px;
    background-size: cover;
    border-radius: 20px;
}

.casa_5 {
    background-image: url("banana.jpg");
    width: 350px;
    height: 450px;
    background-size: cover;
    border-radius: 20px;
}

.casa_6 {
    background-image: url("abacatecasa.jpg");
    width: 350px;
    height: 450px;
    background-size: cover;
    justify-content: end;
    border-radius: 20px;
}




.imagem_foto1 {
    display: flex;
    background-image: url("matheus11.jpg");
    width: 500px;
    height: 700px;
    background-size: cover;
    border-radius: 20%;
}

.video1 {
    display: flex;
    justify-content: center;
    background-size: cover;
}

.video_1 {
    display: flex;
    width: 550px;
    height: 800px;
    justify-content: center;

}

.video_2 {
    display: flex;
    width: 250px;
    height: 500px;
    background-size: cover;
    justify-content: center;
}

.video2 {
    display: flex;
    justify-content: center;
}



.imagenssertao {
    display: flex;

    justify-content: center;
}

.img1 {
    display: flex;
    justify-content: center;
    width: 80px;
    right: 80px;
}

.imagenssertao2 {
    display: flex;

    justify-content: center;
}

.img2 {
    display: flex;
    justify-content: center;
    width: 80px;
    right: 80px;
}

.imagenssertao3 {
    display: flex;

    justify-content: center;
}

.img3 {
    display: flex;
    justify-content: center;
    width: 100px;
    right: 100px;
}



.redes {
    justify-content: center;

}

.redes1 {
    justify-content: center;

}

/*------------------------------------------------login-cadastro --------------------------------------------------------*/

.blocologin {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    background-image: url(pexels-alexander-grey-9841265.jpg);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 60px;
    border-radius: 15%;
    color: rgb(17, 255, 0);
    width: 200px;


}

.input_login {
    border-radius: 10%;
    width: 99%;
    padding: 3px;
}

.botao_login {
    background-color: rgb(17, 255, 0);
    padding: 15px;
    border-radius: 15px;
    width: 100%;

}

.blococadastro {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    background-image: url(pexels-alexander-grey-9841265.jpg);
    background-size: cover;
    top: 50%;
    left: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 60px;
    border-radius: 15%;
    color: rgb(17, 255, 0);
    width: 200px;

}

.input_cadastro {
    border-radius: 10%;
    width: 99%;
    padding: 3px;
}

.botao_cadastro {
    background-color: rgb(17, 255, 0);
    padding: 15px;
    border-radius: 15px;
    width: 100%;

}

.bodylogin_cadastro {
    background-image: url(pexels-cottonbro-studio-9709226.jpg);
    background-size: cover;
}

/*------------------------------------------------Simulador --------------------------------------------------------*/

.blocosimula1 {
    background-image: url(pexels-kindel-media-7457523.jpg);
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    background-size: cover;
    padding: 60px;
    border-radius: 15%;
    color: lawngreen;
    width: 300px;

}


#clima  {
    width: 100%;
    padding: 2%;
    background-color:lawngreen;

}

#rega {
    width: 100%;
    padding: 2%;
    background-color:lawngreen;

}

#espaço {
    width: 100%;
    padding: 2%;
    background-color:lawngreen;

}

#luz_diaria {
    width: 100%;
    padding: 2%;
    background-color:lawngreen;

}



.bodysimulador {
    background-image: url(pexels-ihsan-adityawarman-2045613.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}


.caixaG {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
justify-content: space-around;

}
.caixamedia{
    width: 900px;
    height:800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.imagemjs{
    justify-content: center;
    width: 800px;
    height: 350px;
    border-radius:20% ;
    background-size: cover;
    justify-content: center;
    display: flex;
    
 
}
.texto1{
    margin-top: 2%;
    width: 900PX;
    height: 400PX;
    border-radius: 5%;
}
.simule_texto{
    width: 900px;
    height: 200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}